@page "/"

<div class="code-box">
    <Demo Items="@_data" Width="600"></Demo>
    <Demo Items="@_data" Width="300"></Demo>
</div>

<StyleContent>
    <style>
        .code-box {
            width: 100%;
            padding: 10px;
            color: #000;
            border: 1px solid #DDD;
        }
    </style>
</StyleContent>

@code
{
    private string[] _data = new[]
    {
        "Item1",
        "Item2",
        "Item3",
        "Item4",
        "Item5",
        "Item6",
        "Item7",
        "Item8",
        "Item9",
        "Item10",
        "Item11",
        "Item12",
    };
}
